body{
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

#requete-enseignants{
    display: none;
}

#ve-enseignants{
    .conteneur-grid{
		padding-top: 3em;
        width: 60vw;
        margin: auto;
        display: grid;
        grid-template-areas: 
        'flecheG prof1 prof1 flecheD'
        'flecheG prof2 prof2 flecheD';
        .infoProf > h1, h2, h3{
            color: #fff;
            font-family: 'Yantramanav', sans-serif;
            font-size: 36px;
            font-weight: 900;
            display: inline;
            letter-spacing: 0.2rem;
        }
        .infoProf > h2, h3{
            font-size: 32px;
        }
        .infoProf > h3{
			font-weight: 400;
        }
    
        .vtTitre{
            margin: auto;
            padding-bottom: 5vh;
            width: 80vw;
            text-align: center;
            letter-spacing: 0.5rem;
        }
        .divProf{
            width: 50vw;
            margin: auto;
            grid-template-areas: auto auto auto;
            grid-column-gap: 5vh;
            display: grid;
            height: 40vh;
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .prof1{
            grid-area: "prof1";
            grid-row: 1;
        }
        
        .prof2{
            grid-area: "prof2";
            grid-row: 2;
        }
        
        .imgProf{
            margin: auto;
            grid-column: 1;
            width: 20vw;
        }
        
        .imgProf > figure > img{
            height: 35vh !important;
            width: auto !important;
            margin-left: 0;
        }
        
        .infoProf{
            grid-column-start: 2;
            grid-column-end: 4;
            margin: auto auto auto 0;
			width: 30vw;
			min-height: 1em;
			text-align: left;
        }
        #flecheG, #flecheD{ 
            width: 5vw;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: auto;
        }
        #flecheD{
            grid-area: "flecheD";
			grid-column:4;
			transform: scaleX(-1);
            //transform: rotate(180deg);
        }
        #flecheG{
            grid-area: "flecheG";
            grid-column: 1;
        }
        #flecheD > img, #flecheG > img{
            height: 3.5em;
        }
	}
}

/* Début style mobile*/
@media screen and (max-width: 960px){
    #ve-enseignants{
        .conteneur-grid{
            width: 80vw;
            grid-template-areas: 
            'prof1 prof1'
            'prof1 prof1'
            'prof2 prof2'
            'prof2 prof2'
            'flecheG flecheD';
            grid-auto-rows: minmax(min-content, max-content);
            .vtTitre{
                margin:0;
                font-size: 36px;
                letter-spacing: 0.3rem;
			}
			.infoProf > h2, h3{
				font-size: 28px;
			}
            .divProf{
                width: 80vw;
                //max-width: 300px;
                box-sizing: border-box;
                margin: auto;
                height: fit-content !important;
                grid-template-areas: 
                auto
                auto;
                grid-row-gap: 0;
                height: 35vh;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .prof1{
                grid-row-start: 1;
                grid-row-end: 3;
            }
            
            .prof2{
                grid-row-start: 3;
                grid-row-end: 5;
            }
            .imgProf{
                width: 300px;
                margin-left: auto;
                grid-row: 1;
                grid-column: 1;
            }
            .imgProf >figure> img{
                width: 300px !important;
                height: auto !important;
            }
            .infoProf{
                grid-column: 1;
                margin: auto;
                grid-row: 2;
				text-align: center;
				width: 80vw;
				min-height: 6em;
            }
            #flecheG, #flecheD{
                width: 40vw;
                grid-row: 5;
                grid-column:1;
                margin: 0 !important;
            }
            #flecheD{
                grid-column: 2;
            }
            #flecheD > img, #flecheG > img{
                height: 4em;
				width: auto !important;
				margin-left: 10vw;
            }
        }
    }
}/*fin media query*/