$fond-par-defaut: url("./images/AccueilCouleur1.jpg");
$fond-cheminement: url("./images/GeneriqueCouleur1.jpg");
$font-vie-au-tim: url("./images/CreationCouleur1.jpg");

/* Positionnement */
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body{
    background-image: $fond-par-defaut;
    &.cheminement{ background-image: $fond-cheminement; }
    &.la-vie-au-tim{ background-image: $font-vie-au-tim; }
}

