#requete-cours{
    display: none !important;
}

#titre-cours{
    border-bottom: 2px solid white;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(#FFF, 0.5), rgba(#FFF, 0));
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    
}

.entry-content{
    height: 100%;
    box-sizing: border-box;
}

.cheminement{
    height: 100%;
    display: flex;
    flex-direction: column;

    > h1{
        margin: initial auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    h3{
        display: block;
    }

    ul#choix-session{
        position: relative;
        height: 100%;
        padding: 0;
        margin: 0 0 10px 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid white;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, rgba(#FFF, 0), rgba(#FFF, 0.5), rgba(#FFF, 0));
        background: linear-gradient(to right, rgba(#000, 0), rgba(#000, 0.5), rgba(#000, 0));

        > h2.titre-sessions{
            display: none;
            padding: 10px;
            font-size: 16px;
            cursor: default;
            font-weight: bold;
            transform: translateY(15%);
        }
        
        > li{
            //transform: translateY(2px);
            font-family: "Yantramanav";
            letter-spacing: 2px;
            text-shadow: 0 0 5px rgba(#FFF, 0.5);
            font-weight: 400;
            text-align: center;
            //font-size: 18px;

            padding: 24px 10px 6px 10px;
            display: inline-block;
            cursor: pointer;
            border-bottom: 2px solid rgba(#FFF, 0);

            transition: color 0.2s, border-color 0.2s;
            text-transform: uppercase;
            //letter-spacing: 0.5rem;
            &:hover, &.session-active{
                font-weight: 900;
                color:white;
                background-color: rgba(#FFF, 0.25);
                border-color:#44ebeb;
            }

            &.session-active{
                //background: linear-gradient(to top, #12b9b9, rgba(#008080, 0));
                background-color: #12b9b9;
            }
        }
    }
    
    .grille{
        flex-grow:1;
        background-color: rgba(#000, 0.4);
        
        display: flex;
    
        div.liste-cours, div.desc-cours{
            position: relative;
            display: inline-block;
        }
    
        div.desc-cours{
            padding: 15px;
            width: 70vw;
            max-width: 1280px;
            margin: 0 auto;
            flex-grow: 1;

            text-shadow: 0 0 5px rgba(#000, 0.5);
            
            p{
                font-size: 19px;
                line-height: 2.5 !important;
                max-width: 840px;
            }

            h2{
                font-size: 32px;
                margin: 20px 0 10px 0;
            }

            h3{
                color: white;
                font-size: 23px;
                /*text-transform: uppercase;
                letter-spacing: 0.5rem;*/
            }

            #desc-cours > *{
                overflow-y: auto;
                line-height: 1.75;
                margin: 10px 0;
            }
        }
    
        ul#liste-cours{
            position: relative;
            margin: 0 !important;
            padding: 3% 0 0 0 !important; // calc(3% - 20px)
            flex-shrink: 1;
            list-style: none;
            border-collapse: collapse;
            box-shadow: inset 0 0 50px black;

            max-width: 315px !important;
            width: 30vw;
            overflow-y: auto;

            border-right: 2px solid white;
            border-image-slice: 1;
            border-image-source: linear-gradient(to bottom, rgba(#FFF, 0), rgba(#FFF, 0.5), rgba(#FFF, 0));

            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            //height: calc(100vh - 176px);
    
            > li{
                text-align: center;
                font-size: 1.4em;
                color: #CCC;
                line-height: 1.7em;

                flex: 0;
    
                cursor: pointer;
                user-select: none;

                z-index: 1;
                margin: 20px 0;

                border-right: 2px solid rgba(#FFF, 0);
                //transform: translateX(2px);
                
                //line-height: 24px;
                /*min-height: 48px;*/
                max-width: 315px !important;
                box-sizing: content-box;
                padding: 20px 10px;
    
                transition: color 0.1s, border-color 0.1s, background-color 0.1s;
    
                &:hover, &.cours-actif{
                    background-color: rgba(#FFF, 0.25);
                    color: white;
                    border-color: #44ebeb;
                }

                &.cours-actif{
                    //background: linear-gradient(to right, #12b9b9, rgba(#008080, 0));
                    background-color: #12b9b9;
                }
            }
        }
    
        .entry-content{
            min-height: 100%;
            margin: 0;
        
            td {
                color: purple;
            }
        }
    }
}

#desc-cours{
    display: block;
}

@media screen and (min-width: 960px) {
    ul#choix-session{
        padding: 0 15vw !important;
    }

    ul#liste-cours, ul#liste-cours > li{
        width: auto;
    }

    ul#liste-cours{
        flex-grow: 1;
    }

    .grille div.desc-cours{
        flex-grow: 0 !important;
        padding: 3% 5% !important;

        #titre-cours{
            font-size: 32px;
        }

        > *{
            margin: 10px;
            > * {
                margin: 15px 0;
            }
        }

        #desc-cours {
            /*> p:first-child{
                color: cyan;
            }*/

            > *{
                margin: 20px 0 !important;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .cheminement ul#choix-session > h2.titre-sessions{
        margin: 0 15px;
        transform: translateY(20%);
        display: block;
    }

    .cheminement ul#choix-session > li {
        flex-grow: 1;
        margin: 0;
        padding: 18px 36px 4px 36px !important;
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    /*html {
        font-size: 100%;
        height: 100%;
        background-size: auto;
    }*/

    .cheminement ul#choix-session > h2.titre-sessions{
        transform: translateY(18%);
        display: block;
        margin: 0 5px;
    }

    .cheminement > h1 {
        font-weight: normal;
        padding: 80px 5px 0 5px;
        letter-spacing: 0;
        margin-bottom: 5%;
    }

    .cheminement ul#choix-session > li {
        flex-grow: 1;
        margin: 0;
        padding: 18px 4vw 4px 4vw !important;
        font-size: 18px;
    }

    .grille div.desc-cours #titre-cours{
        text-align: left;
    }

    .cheminement .grille ul#liste-cours > li {
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 75%;
        line-height: 100%;
    }

    .cheminement .grille div.desc-cours h3 {
        margin: 0;
        padding-top: 5%;
    }

    .cheminement .grille div.desc-cours p {
        font-size: 16px;
    }

    .cheminement .grille div.desc-cours p{
        line-height: 1.5 !important;
    }

    #titre-cours {
        font-weight: bolder;
        font-size: 110%;
        // justify-content: flex-start;
    }

    /*.entry-content{
        min-height: 100%;
    }*/

    td {
        width: 50%;
        color: purple;
    }
}