#primary > .post{
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    padding-top: 100px;
    padding-bottom: 100px;

    .entry-meta, .entry-footer{
        display: none;
    }

    .post-thumbnail, .post-thumbnail img{
        width:100% !important;
    }

    .post-thumbnail{
        position: relative;
        overflow: hidden;
        max-height: 400px !important;
        display: block;
        padding-bottom: 40%;
        border-radius: 10px 10px 0 0;
    }

    .post-thumbnail img{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .entry-header {
        background-color: rgba(#000, 0.5);
        h1{
            padding-top: 10px;
            text-align: center;
            
            border-bottom: 2px solid white !important;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, rgba(#FFF, 0), rgba(#FFF, 0.8), rgba(#FFF, 0));
        }
    }

    a.bouton-retour{
        display: inline-block;
        color: white;
        padding: 5px 10px;
        margin: 5px;
        border: 2px solid rgba(#FFF, 0.2);
        transition: border-color 0.2s;
        &:hover{
            border-color: rgba(#FFF, 0.75);
        }
    }

    .entry-content{
        background-image: linear-gradient(to bottom, rgba(#000, 0.8), rgba(#000, 0.2));
        min-height: 300px;
        padding: 20px;

        a{
            color: white;
            text-shadow: 0px 0px 5px #E6E6E6;
            transition: text-shadow 0.15s, color 0.15s;
            &:hover{
                color: #0f78b4;
                text-shadow: 0px 0px 5px #61b8ff;
            }
        }

        > * {
            margin: 20px 0 !important;
        }

        > h1 {
            font-size: 36px;
            font-weight: bold;
        }

        > h2 {
            font-size: 30px;
            font-weight: bold;
        }

        > h3 {
            font-size: 24px;
            font-weight: bold;
        }

        > p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    #primary > .post a.bouton-retour{
        text-align: center;
        display: block;
        letter-spacing: 1px;
        font-size: 18px;
    }
}