@font-face {
	font-family: typo;
	src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: deepskyblue;
	font-family: typo;
	font-size: 1.75em;
}

ul {
	text-align: center;
}

span {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

h3 {
	margin: 0;
	padding: 0;
}

header {
	background-color: turquoise;
	text-align: center;
}

nav {
	position: sticky;
	top: 0;
	z-index: 2;
}

#barre {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: turquoise;
	opacity: 0.9;
}

#barre > li {
	display: inline-block;
	color: green;
	cursor: pointer;
	margin: auto;
	transition: 1.5s;
}

#barre > li:nth-child(1) {
	padding-left: 7.5%;
}

#barre > li:nth-child(7) {
	padding-right: 7.5%;
}

#barre > li:hover {
	background-color: yellow;
	border-radius: 35%;
}

.colonne {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-size: 72.5%;
	background-image: url(../images/croix.jpg);
	/*Source: https://pixabay.com/fr/dieu-la-religion-croix-1772560/*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.82;
}

.colonne > span {
	background: yellow;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.colonne > p {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	width: 80%;
	color: darkturquoise;
}

.colonne > img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 95%;
	opacity: 0.75;
	position: relative;
}

.image{
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-size: 72.5%;
	background-image: url(../images/croix1.jpg);
	/*Source: https://pixabay.com/fr/croix-j%C3%A9sus-bois-eglise-christ-78000/*/
	opacity: 0.82;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.image > p {
	margin: 0;
	padding: 0;
	font-size: 0.675em;
	color: darkturquoise;
}

.image > img {
	width: 33.33%;
	margin: 0;
	border: 3px solid green;
	border-radius: 100px;
	cursor: pointer;
}

.image > img:nth-child(4) {
	margin-right: 2.5%;
	margin-bottom: 4%;
}

.image > img:nth-child(4):hover {
	transform: scale(1.5, 1.5) translate(20%, 25%);
	transition-duration: 2s;
}

.image > img:nth-child(5) {
	margin-left: 2.5%;
	margin-bottom: 4%;
}

.image > img:nth-child(5):hover {
	transform: scale(1.5, 1.5) translate(-20%, 25%);
	transition-duration: 2s;
}

.image > img:nth-child(7) {
	margin-right: 2.5%;
}

.image > img:nth-child(7):hover {
	transform: scale(1.5, 1.5) translate(20%, -25%);
	transition-duration: 2s;
}

.image > img:nth-child(8) {
	margin-left: 2.5%;
}

.image > img:nth-child(8):hover {
	transform: scale(1.5, 1.5) translate(-20%, -25%);
	transition-duration: 2s;
}

.image > img:hover {
	border: 4px solid yellow;
	border-radius: 25px;
	transition-duration: 1s;
}

.image > img:not(:hover) {
	border: 3px solid green;
	border-radius: 100px;
	transition-duration: 1s;
}

.adresse {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-size: 72.5%;
	opacity: 0.82;
	background-image: url(../images/cross.jpg);
	/*Source: https://pixabay.com/fr/croix-j%C3%A9sus-bois-eglise-christ-423157/*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.adresse > p {
	margin: 0;
	padding: 0;
	color: darkturquoise;
}

.adresse > img {
	margin: 0;
	padding: 0;
	width: 45%;
	border: 3px solid lightskyblue;
	border-radius: 40%;
}

@media(max-width: 540px) {

	html {
		height: 100%;
		width: 100%;
	}

    body {
    	height: 100%;
    	width: 100%;
        font-size: 5em;
    }

    #barre {
    	width: 100%;
    	font-size: 0.5em;
    }

	#barre > li {
		margin: 0;
		padding: 0;
		font-size: 0.5em;
	}

    .colonne > span {
		font-size: 7em;
	}

    .colonne > p {
    	font-size: 7em;
    }

    .adresse > p {
		padding-top: 2.5%;
		font-size: 2em;
	}

    .adresse > img {
    	width: 80%;
    }

    .image > img {
    	width: 75%;
    }

	.image > i {
		font-size: 1.15em;
	}

	.image > h3 {
		font-size: 1.15em;
		color: darkturquoise;
	}

	.image > img:nth-child(4) {
		margin: 0;
	}
	
	.image > img:nth-child(4):hover {
		transform: scale(1.5, 1.5) translate(0%, 25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(5) {
		margin: 0;
	}
	
	.image > img:nth-child(5):hover {
		transform: scale(1.5, 1.5) translate(0%, 25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(7) {
		margin: 0;
	}
	
	.image > img:nth-child(7):hover {
		transform: scale(1.5, 1.5) translate(0%, -25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(8) {
		margin: 0;
	}
	
	.image > img:nth-child(8):hover {
		transform: scale(1.5, 1.5) translate(0%, -25%);
		transition-duration: 2s;
	}
	
	.image > img:hover {
		border: 4px solid yellow;
		border-radius: 25px;
		transition-duration: 1s;
	}
	
	.image > img:not(:hover) {
		border: 3px solid green;
		border-radius: 100px;
		transition-duration: 1s;
	}
}

@media(min-width: 541px) and (max-width: 1024px){
	html {
		height: 100%;
		width: 100%;
	}

    body {
    	height: 100%;
    	width: 100%;
        font-size: 1em;
    }

    #barre {
        width: 100%;
    }

	.colonne > span {
		font-size: 2em;
	}

    .colonne > p {
    	font-size: 2em;
    }

	.adresse > p {
		padding-top: 2.5%;
		font-size: 2em;
	}

    .adresse > img {
    	width: 80%;
    }

    .image > img {
    	width: 50%;
    }

	.image > i {
		font-size: 1.15em;
	}

	.image > h3 {
		font-size: 1.15em;
		color: darkturquoise;
	}

	.image > img:nth-child(4) {
		margin: 0;
	}
	
	.image > img:nth-child(4):hover {
		transform: scale(1.5, 1.5) translate(0%, 25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(5) {
		margin: 0;
	}
	
	.image > img:nth-child(5):hover {
		transform: scale(1.5, 1.5) translate(0%, 25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(7) {
		margin: 0;
	}
	
	.image > img:nth-child(7):hover {
		transform: scale(1.5, 1.5) translate(0%, -25%);
		transition-duration: 2s;
	}
	
	.image > img:nth-child(8) {
		margin: 0;
	}
	
	.image > img:nth-child(8):hover {
		transform: scale(1.5, 1.5) translate(0%, -25%);
		transition-duration: 2s;
	}
	
	.image > img:hover {
		border: 4px solid yellow;
		border-radius: 25px;
		transition-duration: 1s;
	}
	
	.image > img:not(:hover) {
		border: 3px solid green;
		border-radius: 100px;
		transition-duration: 1s;
	}
	}