/* Animation de la paire de lunette en la grossissant, changer de couleur, et rétrécir */

.photo img:nth-child(1):hover {
	animation-name: lunette;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes lunette {
	from {
		color: black;
	}

	50% {
		transform: translateX(75px) translateY(75px) scale(1.25);
		background: orange;
	}

	to {
		transform: translateX(0) translateY(0) scale(1);
		color: black;
		
	}
}