/* Animation de la roue qui tourne en se déplaçant vers la droite en changent de couleur
et revenant à son état initial */

.photo img:nth-child(4):hover {
	animation-name: roue;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes roue {
	from {
		background: none;
	}

	50% {
		transform: translateX(15em) rotate(360deg);
		background: silver;
	}

	to {
		transform: translateX(0) rotate(-360deg);
		background: none;
	}
}